<h3>Research Publications</h3>
<h6>A New Stereo Matching Algorithm for Binocular Vision Tao Hu, May Huang, ICHIT 2009, Korea</h6>
<h6>Real-Time Map Generation Using Constraint Delaunay Triangulation Peng Wang, Yi Liu, Taiheng (Matthew) Jin, May Huang, ICHIT 2011, Korea</h6>
<h6>Accuracy Analysis of Power Characterization and Modeling Xiaolan Bai, May Huang, ICHIT 2011, Korea</h6>
<h6>Planning Paths with Fewer Turns on Grid Maps Hu Xu, Lei Shu, May Huang, The Sixth Annual Symposium on Combinatorial Search (SoCS 2013), Leavenworth, WA, USA</h6>
<h6>High-Speed and Accurate Laser Scan Matching Using Classified Features Lei Shu, Hu Xu, May Huang, 2013 IEEE International Symposium on Robotic and Sensors Environments (ROSE 2013), Washington DC, USA</h6>
<h6>Noninvasive glucose monitoring by Mid-Infrared self-emission method Yen-Chun Yeh, Sheng Yang, Fan Zhao, Dominik Schmitt, 2014, Conference of Biodevice, France</h6>
<h6>Tunable Fabry-Perot filter for optical glucose monitoring Xin Zhao and Schmidt. J. Dominik, 2014, Conference of Biodevice, France</h6>