.widget.gsc-block-drupal.remove-margin-on .block {
  background: transparent !important;
  border: 1px solid transparent !important;
  border-radius: 3px !important;
  padding: 0 !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
  -webkit-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
}

.block .block-title::after {
  background: transparent !important;
}

/*
.block .block-title > span {
  color: #ffffff !important;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0 0;
  position: relative;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
}
*/

.block .block-title > span:before {
  display: none;
}

.gva-body-page input[type="text"],
.gva-body-page input[type="email"],
.gva-body-page textarea {
  background-color: rgba(23, 159, 157, 0.7) !important;
  border: 1px solid transparent !important;
  border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
  -webkit-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
  color: #ffffff !important;
  margin: 0 0 .2em 0 !important;
  max-width: 450px !important;
  min-width: 450px !important;
  padding: .75em 1em !important;
  width: 100% !important;
}

/*
.gva-body-page textarea {
  border: 1px solid transparent !important;
  color: #ffffff !important;
}

.form-textarea {
  color: #ffffff !important;
}
*/

#block-webform-2 select#tid_1.form-select {
  background: rgba(81, 160, 206, 0.7) !important;
  border: 1px solid transparent !important;
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  color: #ffffff !important;
  cursor: pointer;
  display: block;
  font-family: 'Gotham', sans-serif !important;
  font-size: .9em;
  font-weight: 400;
  height: 3.6em;
  letter-spacing: .08em;
  line-height: 2;
  margin: 0 0 .2em 0 !important;
  overflow: hidden !important;
  padding: .5em .5em !important;
  position: relative;
  text-indent: .5em;
 
  box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.0) !important;
  -moz-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.0) !important;
  -webkit-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.0) !important;
  max-width: 450px !important;
  min-width: 450px !important;
}

#block-webform-2 label {
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  color: #363636;
  font-size: 1.5em;
  font-weight: 400;
  margin: 3em 0 .5em;
  text-transform: inherit;
 
}

.gva-body-page select {
  background-color: rgba(23, 159, 157, 0.7) !important;
  border: 1px solid transparent !important;
  border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
  -webkit-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
  color: #ffffff !important;
  margin: 0 0 .2em 0 !important;
  max-width: 450px !important;
  min-width: 450px !important;
  padding: .75em 1em !important;
  width: 100% !important;
}

input[type="submit"] {
  border: 1px solid transparent !important;
  color: #ffffff;
  cursor: pointer;
  margin: .5em .5em 0 0 !important;
  padding: .25em 2em !important;
  -webkit-appearance: button;
  background: rgba(0, 0, 0, 0.7) !important;
  border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
  -webkit-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
  text-transform: capitalize !important;
 
  max-width: 450px !important;
  min-width: 450px !important;
}

.column-content-inner {
  padding: 0;
}

.column-content {
  background: transparent !important;
  box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.0) !important;
  -moz-box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.0) !important;
  -webkit-box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.0) !important;
}

.widget.gsc-block-drupal.title-align-left .block-title {
  margin: 0 0 .5em 0 !important;
  padding: 0 !important;
}

h2 a:link,
h2 a:visited {
  margin: 0 0 0 .5em !important;
}

/*
h2, .h2 {
  box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.0);
  -moz-box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.0);
  -webkit-box-shadow: 10px 10px 13px -4px rgba(0, 0, 0, 0.0);
  color: #fff !important;
  font-size: 2em !important;
  font-weight: 600 !important;
  text-shadow: 1px 1px 1px #000 !important;
  text-transform: uppercase;
}
*/

p.gmap {
  border: none !important;
  margin: 0 0 1em !important;
  padding: 0 !important;
  opacity: 0.8;
  box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
  -webkit-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
  max-width: 450px !important;
  max-height: 350px !important;
}

/*
h6 {
  color: #fff !important;
  margin-top: 0 !important;
  padding: 0 !important;
  text-shadow: 1px 1px 1px #000 !important;
}
*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff !important;
 
}

::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff !important;
 
}

:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff !important;
 
}

:-moz-placeholder { /* Firefox 18- */
  color: #ffffff !important;
 
}

.widget.gsc-heading {
  padding: 30px 400px 30px;
  display: none;
}

.gva-body-page input[type="text"], .gva-body-page input[type="email"], .gva-body-page textarea {
  float: left;
 
}

#block-webform-2 select.form-select,
#block-webform-2 select#edit-tid-1.form-select,
#block-webform-2 select#tid_1.form-select {
  background: rgba(81, 160, 206, 0.7) !important;
  border: 1px solid transparent !important;
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  color: #ffffff !important;
  cursor: pointer;
  display: block;
  font-family: 'Gotham', sans-serif !important;
  font-size: .9em;
  font-weight: 400;
  height: 3.3em;
  letter-spacing: .08em;
  line-height: 2;
  margin: 0 0 .5em 0 !important;
  max-width: 450px !important;
  min-width: 450px !important;
  overflow: hidden !important;
  padding: .5em .5em !important;
  position: relative;
  text-indent: .5em;
 
  box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
  -webkit-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.3) !important;
}

.widget.gsc-block-drupal.remove-margin-on .block {
  box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.0) !important;
  -moz-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.0) !important;
  -webkit-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.0) !important;
}

.arrow a::after {
  margin: .5em .5em 0 .5em !important;
  color: #209dad !important;
  float: left !important;
  border-bottom: 1px dashed transparent !important;
}

.arrow a:link,
.arrow a:visited {
  padding: 0 0 0 .5em !important;
}

@media (max-width: 760px) {
  #block-webform-2 select.form-select,
  #block-webform-2 select#edit-tid-1.form-select,
  #block-webform-2 select#tid_1.form-select,
  .gva-body-page input[type="text"],
  .gva-body-page input[type="email"],
  .gva-body-page textarea,
  input[type="submit"] {
    max-width: 400px !important;
    min-width: 400px !important;
  }
  
}

@media (max-width: 480px) {
  #block-webform-2 select.form-select,
  #block-webform-2 select#edit-tid-1.form-select,
  #block-webform-2 select#tid_1.form-select,
  .gva-body-page input[type="text"],
  .gva-body-page input[type="email"],
  .gva-body-page textarea,
  input[type="submit"] {
    max-width: 340px !important;
    min-width: 340px !important;
  }
  
}