p {
  line-height: 1.4em !important;
}

h3 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

img {
    height: 250px !important;
    margin: 0 0 1em;
}

h2 {
  margin-bottom: .75em !important;
}

table {
  border-color: #f8f8f8 !important;
}

table > tbody > tr > td {
  background: #f8f8f8 !important;
  border-color: #f8f8f8 !important;
  padding: 0 2em 2em 0 !important;
}

label {
  min-width: 150px !important;
}

input[type="submit"] {
  background: #f38230 !important;
}

.path-academics .content-main img {
  min-width: 200px !important;
}

.gva-body-page select {
  min-width: 300px;
  
}

.gva-view.view-page h4 {
  color: #363636 !important;
  font-size: 1.3em !important;
  font-weight: 600;
  text-transform: inherit !important;
  padding: 0 !important;
  margin: 0 0 .1em !important;
  line-height: 1 !important;
  text-indent: 0 !important;
}

.gavias-blockbuilder-content .link-edit-blockbuider {
  top: 1px !important;
}

h4 a:link,
h4 a:visited {
  font-weight: 600 !important;
  text-transform: uppercase !important;
  font-size: .8em !important;
}

.itu-landing table > tbody > tr > td {
	border-bottom: 25px solid #f8f8f8 !important;
	border-left: 10px solid #ccc !important;
}
.wForm input[type="button"], .wForm input[type="submit"], input[type="submit"] {
    margin: 1em 0 2em 0 !important;
}
table > tbody > tr > td {
    background: #f8f8f8 !important;
}