.block .block-title > span {
  font-weight: 600 !important;
  margin: 0 0 .5em .7em !important;
}

.gva-body-page input[type="text"],
.gva-body-page input[type="email"],
.gva-body-page textarea,
.gva-body-page input[type="text"],
.gva-body-page input[type="email"],
.gva-body-page textarea {
  margin: 0 !important;
}

#views-exposed-form-duplicate-of-faculty-staff-search-faculty,
#views-exposed-form-duplicate-of-faculty-staff-admin-search {
  background:#ffffff !important;
  border: 1px solid#ffffff !important;
  padding: 1em;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

.sidebar-right h3::before {
    content: "\f1ce";
    color: #17609f !important;
    font-family: 'FontAwesome', sans-serif;
    font-size: inherit;
    float: left;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

.sidebar-right h3 {
  margin: 0.2em 0 .7em 0 !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.25em;
}

input#edit-faculty.form-text,
input#edit-admin.form-text,
input#edit-field-title-other-value.form-text {
  float: left;
  background:#ffffff !important;
  width: 100%;
  height: 2em;
  border-radius: 5px;
  border: 1px solid #d8d8d8 !important;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .9em !important;
  float: left !important;
}

.sidebar {
  margin-top: 4.8em !important;
}

.fa-envelope-o a {
  font-size: .85em !important;
}

.fa-envelope-o:before {
  font-size: .8em!important;
}

#views-exposed-form-duplicate-of-faculty-staff-page-1 label {
  letter-spacing: .04em;
  font-size: 1.3em !important;
  font-family: 'Gotham', sans-serif !important;
}

/*******/
h2 {
  margin: .25em 0 0 0 !important;
}

h3 {
  color: #363636;
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1em 0 .5em;
}

#block-facultydepartments {
  padding-bottom: 2.5em;
  margin: 0 0 0 .7em;
}

#block-exposedformduplicate-of-faculty-staffsearch-faculty {
  padding-top: 1em;
}

.block-views-blockduplicate-of-faculty-staff-block-6 {
  margin: 0 0 2em .7em;
}

.block-views-blockduplicate-of-faculty-staff-block-6 .views-accordion-header:before {
  color: #f38230 !important;
  padding-top: .3em;
}

.block-views-blockduplicate-of-faculty-staff-block-6 .views-accordion-header.ui-accordion-header {
  margin: 0 0 0 1.1em !important;
  padding: 0 1.25em !important;
  background:#ffffff !important;
  border: 1px solid #eeeeee !important;
}

.block .block-title > span {
  color: #363636;
  font-size: .75em;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 .5em .7em;
}

.block .block-title > span::before {
  content: "\f096";
  color: #f38230 !important;
  font-family: 'FontAwesome', sans-serif;
  font-size: inherit;
  float: left;
  margin-left: -1.1em;
}

#block-gavias-kiamo-content {
  margin: 0 0 0 .9em;
}

#block-facultydepartments {
  padding-bottom: 2.5em;
}

#block-facultydepartments li.menu-item--active-trail > a,
#block-facultydepartments li.menu-item > a {
  color: #252525 !important;
  font-size: 15px !important;
  margin: 0 0 0 1em;
  float: left;
  line-height: 1.9;
}

#block-facultydepartments li.menu-item--active-trail > a:before,
#block-facultydepartments li.menu-item > a:before {
  content: "\f054";
  color: #f38230 !important;
  font-family: 'FontAwesome', sans-serif;
  font-size: inherit;
  font-weight: 200;
  padding: 0 .4em 0;
}

#block-facultydepartments li.menu-item--active-trail > a:hover:before,
#block-facultydepartments li.menu-item > a:hover:before {
  color: #252525 !important;
}

.content-main .navigation .gva_menu > li {
  display: block !important;
}

.faculty-directory-wrapper p {
  font-family: 'Gotham', sans-serif;
  color: #252525;
  font-size: 14px !important;
  font-weight: 300;
  line-height: 1.7em;
  text-rendering: optimizelegibility;
  margin: 0 0 .5em;
}

.faculty-directory-wrapper.csse .views-accordion-header {
  background: rgba(255, 255, 255, 0.7) !important;
  margin: 0 0 0 1.1em !important;
  padding: 0 1.5em !important;
}

#views-exposed-form-duplicate-of-faculty-staff-search-faculty {
  padding: 0 0 1em;
}

.views-accordion-header {
  background: rgba(255, 255, 255, 0.7) !important;
  margin: 0 0 0 1.1em !important;
  padding: 0 1.5em !important;
}

.gsc-accordion,
.views-accordion-header.ui-accordion-header,
.ui-accordion .ui-accordion-header {
  background: rgba(255, 255, 255, 0.7) !important;
  border: 1px solid#ffffff !important;
  padding: 0 1.5em !important;
  margin: 0 0 .25em !important;
}

.views-element-container {
  margin: 0 0 0 .1em !important;
}

.views-element-container h3.provost-wrapper,
#views-exposed-form-duplicate-of-faculty-staff-page-1 .views-element-container h3 {
  margin: 3em 0 .5em .8em !important;
}

.views-element-container h3 {
  color: #363636 !important;
  font-size: 1.25em!important;
  font-weight: 600!important;
  margin: 3em 0 .5em!important;
}

.views-element-container h3::before {
    font-size: 1em !important;
    margin: .1em .2em 0 -1.2em !important;
}

.views-element-container h3.provost-wrapper {
  margin: 3em 0 .5em .8em !important;
  font-size: 1.35em !important;
}

.views-accordion-header h4 {
    font-size: 1em!important;
    font-weight: 600!important;
}

.block-views-blockduplicate-of-faculty-staff-block-6 .views-accordion-header::before {
    color: #43aa8f !important;
    padding-top: .1em!important;
}

#views-exposed-form-duplicate-of-faculty-staff-page-1 label::before {
    font-size: .9em;
    margin-left: -1.1em;
    padding: .2em .5em 0 0;
}

#footer .block .block-title > span {
    font-weight: 600 !important;
    margin: 0 0 .5em 0 !important;
}
.gva-view.view-page h4 {
    color: #000;
    font-size: 2rem !important;
}
.views-accordion-header h6, 
.views-accordion-header .h6 {
    font-size: 16px!important;
    font-weight: 600!important;
    padding: 0 0 0 3rem!important;
}

.js-form-item-department:after, .js-form-item-documents:after, .js-form-item-category:after {
    bottom: 2em!important;
}
.itu-faculty .views-accordion-header:before {
    margin: 1em 2rem 0 -.8em !important;
    padding: 0 0 0 .25em !important;
}
