img {
    border: none!important;
    border-bottom-color: transparent !important;
    border-bottom-width: 0 !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    color: inherit !important;
    padding: 0;
}